In [13]:
import pandas as pd

df = pd.DataFrame(pd.read_csv('../data/SanFrancisco_salary_dirty.csv'),
                  columns=['JobTitle', 'Department', 'BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay'])

df.describe()

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay
count,111881.000000,111881.000000,111881.000000,111881.000000,111881.000000
mean,67208.464335,5266.537354,3655.130550,25114.682525,76130.132232
std,43417.695515,11764.757612,8038.765165,15372.746237,51269.839386
min,-166.010000,-0.010000,0.000000,-13.800000,0.000000
25%,33644.660156,0.000000,0.000000,12145.089844,37041.430000
50%,65547.040000,0.000000,820.840000,28698.490234,72630.700000
75%,95229.030000,4865.720000,4307.970215,35608.770000,107533.480000
max,319275.010000,220909.480000,342802.630000,96570.660000,471952.640000

In [83]:
df = pd.DataFrame(pd.read_csv('../data/SanFrancisco_salary_dirty.csv', delimiter=','),
                  columns=['JobTitle', 'Department', 'BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay'])


df[df.OvertimePay < 0] = 0
df[df.Benefits < 0] = 0
df = df[df.Department != 0]

all_depts = df['Department'].unique()
for dept in all_depts:
    dept_mean = df[(df.Department == dept) & (df.BasePay >= 12 * 2720)]['BasePay'].mean()
    df.loc[(df.Department == dept) & (df.BasePay < 12 * 2720), 'BasePay'] = dept_mean

df['TotalPay'] = df.apply(lambda row: row['BasePay'] + row['OvertimePay'] + row['OtherPay'] + row['Benefits'], axis=1)

df.to_csv('../data/SanFrancisco_salary_clean.csv')
df.describe()

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay
count,111879.000000,111879.000000,111879.000000,111879.000000,111879.000000
mean,85482.970594,5266.631501,3655.092817,25114.873611,119519.568523
std,29265.204602,11764.841695,8038.812208,15372.695982,46195.387337
min,32640.300000,0.000000,0.000000,0.000000,33044.390000
25%,65400.405000,0.000000,0.000000,12145.370117,86032.293025
50%,82697.748853,0.000000,820.790000,28698.490234,103694.440000
75%,95229.030000,4865.870000,4307.550049,35608.775000,143171.180000
max,319275.010000,220909.480000,342802.630000,96570.660000,510732.680000